.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 222, 222);
}
.form-container input {
  width: 55%;
  height: 30px;
  margin: 10px 0px 10px 0px;
}
.form-container textarea {
  width: 55%;
  margin-top: 10px;
  height: 80px;
}
.errors {
  color: red;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}
